# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/bootstrap-4.0.0-alpha.5-dist/
/videos/
/js/Swiper-3.2.7/
/js/Swiper-3.2.7/demos/
/assets/css/fonts/font-awesome-4.5.0/scss/
